<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:fragment="head">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Sweat Smart</title>
    <link rel="icon" type="image/png" th:href="@{/images/logo2.png}">
    <link rel="stylesheet" th:href="@{/fontawesome/css/all.min.css}"> <!-- https://fontawesome.com/ -->
    <link th:href="@{https://fonts.googleapis.com/css2?family=Source+Sans+Pro&display=swap}" rel="stylesheet"> <!-- https://fonts.google.com/ -->
    <link th:href="@{/css/bootstrap.min.css}" rel="stylesheet">
    <link th:href="@{/css/templatemo-xtra-blog.css}" rel="stylesheet">
</head>
<body>

</body>
</html>