<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head th:replace="~{/fragments/head}">
    <title>Home</title>
</head>

<body>

<header th:replace="~{/fragments/navigation}">
</header>

<div class="container-fluid">
    <main class="tm-main">

        <div th:replace="~{/fragments/search}">
        </div>

        <div class="header">
            <h1 style="font-family: 'Arial', sans-serif; color: #333; font-size: 2em; margin-bottom: 10px;">
                Welcome to <span style="color: #00b4d8;">SweatSmart</span>
            </h1>
            <p style="color: #666; font-size: 1.2em;">Your Ultimate Wellness Hub</p>
        </div>


        <div class="main-content">

            <div class="wellness-content">
                <div class="section">
                    <h2>Embrace a Healthier You 🌿</h2>
                    <p>At SweatSmart, we believe that true well-being is a journey, not a destination. Step into a world
                        where vibrant health meets mindful living, and embark on a transformative adventure toward a
                        happier, healthier you.</p>
                </div>

                <div class="section">
                    <h2>Explore Our Health-Oasis 🌟</h2>
                    <p>Dive into a treasure trove of articles crafted to inspire, inform, and empower. From nutrition
                        tips that tantalize your taste buds to fitness routines that invigorate your spirit, we've got
                        your well-being covered from head to toe.</p>
                    <img class="image" src="/images/homePage1.png" alt="Health Image 1" style="margin-bottom: 20px;">
                </div>

                <div class="section">
                    <h2>Nourish Your Body, Feed Your Soul 💪</h2>
                    <p>Whether you're a seasoned gym-goer or a fitness novice, our expertly curated workout routines
                        cater to all levels. Unleash your inner warrior with dynamic exercises designed to sculpt, tone,
                        and energize. Fitness is not just a routine; it's a lifestyle, and we're here to make it
                        exhilarating.</p>
                </div>
                <div class="section">
                    <h2>Empower Your Fitness Journey 🍏</h2>
                    <p>Discover delectable recipes that redefine the relationship between health and flavor. Our
                        culinary experts whip up a feast of nutritious delights that will make your taste buds dance
                        with joy. Say goodbye to bland diets and hello to a world where healthy eating is a
                        celebration.</p>
                </div>

                <div class="section">
                    <h2>Mindfulness for Inner Harmony 🌈</h2>
                    <p>True health extends beyond the physical. Join us on a journey of self-discovery and mindfulness
                        practices that bring tranquility to your mind and spirit. From meditation guides to
                        stress-busting techniques, find your sanctuary in a chaotic world.</p>
                    <img class="image" src="/images/homePage2.jpg" alt="Health Image 2" style="margin-bottom: 20px;">
                </div>

                <div class="section">
                    <h2>Connect and Thrive 🌐</h2>
                    <p>Become part of a vibrant community of health enthusiasts. Share your stories, exchange tips, and
                        celebrate victories together. Our blog is more than a space for information – it's a supportive
                        ecosystem for your well-being journey.</p>
                </div>

                <div class="section">
                    <h2>Stay Informed, Stay Inspired 📌</h2>
                    <p>Our team of health experts and enthusiasts work tirelessly to bring you the latest trends,
                        evidence-based insights, and motivational stories. Subscribe to our newsletter for a weekly dose
                        of inspiration delivered straight to your inbox.</p>
                    <p>Embark on a journey to radiant health with [Your Blog Name]. Because here, wellness is not just a
                        destination; it's a way of life.</p>
                    <p>Start your transformative adventure today! 🚀</p>
                    <img class="image" src="/images/homePage3.png" alt="Health Image 2" style="margin-bottom: 20px;">
                </div>

            </div>
        </div>

        <footer th:replace="~{/fragments/footer}">
        </footer>
    </main>
</div>

<script th:src="@{/js/jquery.min.js}"></script>
<script th:src="@{/js/templatemo-script.js}"></script>

</body>
</html>